
.title {
	width:100px;
	height:50px;
	font-size:20px;
	margin-left:520px;
	margin-top:50px;

}

.title2 {
	width:170px;
	height:50px;
	font-size:20px;
	margin-left:480px;
	margin-top:50px;

}

.crossroads {
	
}

.cross_div {
	width:880px;
	height:610px;
	float: left;
	margin-left:100px;
	visibility:visible;
	background-image:url(../images/crossroads.jpg);
	background-size:cover;
}

.light {
	width:26px;
	height:72.5px;
	border:3px solid;
	position:relative;top:-490px;left:740px;
	background:black;
	background-size:cover;
	transform:rotate(-72deg);
}

.red {
	width:20px;
	height:20px;
	border-radius:10px;
	border:solid rgb(20,20,20) 0.2px;
	margin-top:2px;
	margin-bottom:2px;
	background-image:url(../images/redleftjt.jpg);
	background-size:cover;
	transform:rotate(-271deg);
}

.yellow {
	width:20px;
	height:20px;
	border-radius:10px;
	border:solid rgb(20,20,20) 0.2px;
	margin-top:2px;
	margin-bottom:2px;
	background-image:url(../images/greenjt.jpg);
	transform:rotate(-180deg);
	background-size:cover;
	position: relative;
}

.green {
	width:20px;
	height:20px;
	border-radius:10px;
	border:solid rgb(20,20,20) 0.2px;
	margin-top:2px;
	margin-bottom:2px;
	background-image:url(../images/greenjt.jpg);
	background-size:cover;
	transform:rotate(-90deg);
	position: relative;
}

.light2 {
    width: 26px;
    height: 72.5px;
    border: 3px solid;
    position: relative;
    top: -545px;
    left: 109px;
    background: black;
    transform: rotate(-69deg);
}

.red2 {
	width:20px;
	height:20px;
	border-radius:10px;
	border:solid rgb(20,20,20) 0.2px;
	margin-top:2px;
	margin-bottom:2px;
	background-image:url(../images/greenjt.jpg);
	background-size:cover;
	transform:rotate(-271deg);
}

.yellow2 {
	width:20px;
	height:20px;
	border-radius:10px;
	border:solid rgb(20,20,20) 0.2px;
	margin-top:2px;
	margin-bottom:2px;
	background-image:url(../images/redleftjt.jpg);
	background-size:cover;
	position: relative;
}

.green2 {
	width:20px;
	height:20px;
	border-radius:10px;
	border:solid rgb(20,20,20) 0.2px;
	margin-top:2px;
	margin-bottom:2px;
	background-image:url(../images/redleftjt.jpg);
	background-size:cover;
	transform:rotate(-90deg);
	position: relative;
}

.light3 {
    width: 26px;
    height: 72.5px;
    border: 3px solid;
    position: relative;
    top: -437px;
    left: 632px;
    background: black;
    transform: rotate(-118deg);
}

.red3 {
	width:20px;
	height:20px;
	border-radius:10px;
	border:solid rgb(20,20,20) 0.2px;
	margin-top:2px;
	margin-bottom:2px;
	background-image:url(../images/greenjt.jpg);
	background-size:cover;
	transform:rotate(-271deg);
}

.yellow3 {
	width:20px;
	height:20px;
	border-radius:10px;
	border:solid rgb(20,20,20) 0.2px;
	margin-top:2px;
	margin-bottom:2px;
	background-image:url(../images/redjt.jpg);
	transform:rotate(-90deg);
	background-size:cover;
	position: relative;
}

.green3 {
	width:20px;
	height:20px;
	border-radius:10px;
	border:solid rgb(20,20,20) 0.2px;
	margin-top:2px;
	margin-bottom:2px;
	background-image:url(../images/redleftjt.jpg);
	background-size:cover;
	transform:rotate(-90deg);
}

.light4 {
    width: 26px;
    height: 72.5px;
    border: 3px solid;
    position: relative;
    top: -797px;
    left: 257px;
    background: black;
    transform: rotate(-109deg);
}

.yellow4 {
	width:20px;
	height:20px;
	border-radius:10px;
	border:solid rgb(20,20,20) 0.2px;
	margin-top:2px;
	margin-bottom:2px;
	background-image:url(../images/redleftjt.jpg);
	transform:rotate(-180deg);
	background-size:cover;
	position: relative;
}

.red4 {
	width:20px;
	height:20px;
	border-radius:10px;
	border:solid rgb(20,20,20) 0.2px;
	margin-top:2px;
	margin-bottom:2px;
	background-image:url(../images/redleftjt.jpg);
	background-size:cover;
	transform:rotate(-271deg);
}

.test {
	width:24px;
	height:72.5px;
	position:relative;top:159px;left:796px;
	background:#878787;

}

.test2 {
	width:22px;
	height:72.5px;
	position:relative;top:54px;left:684px;
	background:#878787;

}
.test3 {
    width: 27px;
    height: 80px;
    position: relative;
    top: -78px;
    left: 203px;
    background: #878787;
}

.test4 {
    width: 27px;
    height: 80px;
    position: relative;
    top: -192px;
    left: 309px;
    background: #878787;
}

.test5 {
    width: 27px;
    height: 80px;
    position: relative;
    top: -164px;
    left: 55px;
    background: #878787;
}

.test6 {
    width: 27px;
    height: 80px;
    position: relative;
    top: -219px;
    left: 162px;
    background: #878787;
}

.test7 {
    width: 27px;
    height: 80px;
    position: relative;
    top: -160px;
    left: 683px;
    background: #878787;
}

.test8 {
    width: 27px;
    height: 80px;
    position: relative;
    top: -186px;
    left: 580px;
    background: #878787;
}

.red {
	width:20px;
	height:20px;
	border-radius:10px;
	border:solid rgb(20,20,20) 0.2px;
	margin-top:2px;
	margin-bottom:2px;
	background-image:url(../images/redleftjt.jpg);
	background-size:cover;
	transform:rotate(-271deg);
}

.yellow {
	width:20px;
	height:20px;
	border-radius:10px;
	border:solid rgb(20,20,20) 0.2px;
	margin-top:2px;
	margin-bottom:2px;
	background-image:url(../images/greenjt.jpg);
	transform:rotate(-180deg);
	background-size:cover;
	position: relative;
}

.green {
	width:20px;
	height:20px;
	border-radius:10px;
	border:solid rgb(20,20,20) 0.2px;
	margin-top:2px;
	margin-bottom:2px;
	background-image:url(../images/greenjt.jpg);
	background-size:cover;
	transform:rotate(-90deg);
	position: relative;
}
	 
.detail {
	
	float:left;
	width:400px;
	height:500px;
	margin-left:50px;
}


.p1 {
	font-size:17px;
	margin-bottom:10px;
}

.p2 {
	font-size:17px;
	margin-bottom:10px;
	width:270px;
}

.change {
	margin-right: 20px;
	margin-bottom: 20px;
}

.roadTitle {
	font-size:20px;
	margin-bottom:23px;
}

.f {
	margin-top:20px;
}

.change {
	width:100px;
	height:35px;
	background-color:#418BCA;
	border:0px;
	color:white;
	margin-right: 20px;
}

.delete {
	color:white;
	background-color:#E15553;
	padding:8px;
}

.delete:focus, .delete:hover{
	color:white;
	text-decoration:none;
}

.btn {
	width:70px;height:35px;font-size:12px;padding-top:3px; border:0;
}








