<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"  
    xmlns:tx="http://www.springframework.org/schema/tx"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    			http://www.springframework.org/schema/beans/spring-beans-2.5.xsd  
                http://www.springframework.org/schema/context 
                http://www.springframework.org/schema/context/spring-context-2.5.xsd  
                http://www.springframework.org/schema/tx 
                http://www.springframework.org/schema/tx/spring-tx-2.5.xsd"> 

  <!-- 扫描包 -->
  <context:component-scan base-package="com.lovis.*"></context:component-scan>
  
  <!-- 参数占位符配置器 -->
  <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
  	<property name="location" value="classpath:jdbc.properties"></property>
  </bean>
  
  <!-- 配置数据池 -->
  <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
  	<property name="driverClass" value="${jdbc.driver}"></property>
  	<property name="jdbcUrl" value="${jdbc.url}"></property>
  	<property name="user" value="${jdbc.user}"></property>
  	<property name="password" value="${jdbc.password}"></property>
  </bean>
  
  <!-- 配置sqlSessionFactory -->
  <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
  	<property name="dataSource" ref="dataSource"></property>
  	<property name="mapperLocations" value="classpath:com/lovis/mapper/*.xml"></property>
  </bean>
  
  <!-- 扫描接口类 -->
  <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
  	<property name="basePackage" value="com.lovis.mapper"></property>
  	<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
  </bean>
  
  <!-- 配置事务管理 -->
  <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
  	<property name="dataSource" ref="dataSource"></property><!-- hibernate ref="sessionFactory" -->
  </bean>
                
</beans>                